<header>
    <nav class="main-nav">
        <div class="icon">Fun Blogging</div>
        <div class="nav-links">
            <ul>
                <li>
                    <a href="#">My Blogs</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">My Profile</a>
                    <div class="dropdown-menu">
                        <a href="#">
                            <img src="https://i.pravatar.cc/50?img=3" alt="avatar">Mohsin Gaur
                        </a>
                        <a href="#">My Blogs</a>
                        <a href="#">Change Password</a>
                        <a href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>